<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Time!</title>
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		<div class="wrapper">
			<header>
				<img src="/assets/img/burger-time-logo.png">
				<h2>Add a burger. Eat a burger.</h2>
			</header>
			<div class="menu">
				<h1>Menu</h1>
				{{{ body }}}
			</div>
			
		</div>
		<script src="/assets/js/burgers.js"></script>
	</body>
</html>
