<ol>
  {{#each burgers}}
    {{#unless devoured}}
    <li data-id={{id}} data-devoured="false">
    {{/unless}}
    {{#if devoured}}
    <li data-id={{id}} data-devoured="true" class="devoured">
    {{/if}}
      {{burger_name}}
    {{#unless devoured}}
      <button class="button eat-burger">Eat</button>
    {{/unless}}
    {{#if devoured}}
      <button class="button eat-burger">Regurgitate</button>
    {{/if}}
      <button class="button remove-burger">Remove</button>
    </li>
  {{/each}}
</ol>

<form id="burger-form" class="create-form">
  <input type="text" id="burger" name="name" placeholder="Add a burger" autocomplete="off">
  <button type="submit" class="add-burger">Add</button>
</form>
